<div class="bg-extended">
    <div class="align-vertical-center">
        <div class="container">
            <div class="row">
                <div class="well col-sm-offset-3 col-sm-6">
                    <div class="well-heading alert-danger">
                        <h1>Error {{errorVm.code}}</h1>
                        <a href="#/user" class="btn btn-danger btn-fab btn-raised glyphicon glyphicon-home home-button"></a>
                    </div>
                    <div class="well-body">
                        <h4>{{errorVm.message}}</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
